.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.languageSelect {
  color: white;
  background: #23272a;

  border: 1px solid;
  border-radius: 0.25em;
  padding: 8px;
  outline: none;
}
